<%- include('partials/head.ejs') %>

  <h1>posts</h1>

  
  <% if (posts.length) { %>
    <% posts.forEach(({ id, title, preview, author, createdAt }) => { %>
      <div class="card">
        <div class="card-info">
          <span><%= createdAt.toLocaleDateString()  %></span><br>
          <span><%= author %></span>
        </div>
      
        <h2><a href="posts/<%= id %>"><%= title %></a></h2>
        <p><%= preview %></p>

        <div class="del" data-id="<%= id %>">del</div>
      </div>
    <% }) %>

    <% } %>


  <script>
    document.addEventListener('click', (e) => {
      const id = e.target?.dataset?.id || null
      if (id) {
        fetch(`/posts/${id}`, {
          method: 'DELETE'
        }).then(() => {
          window.location.reload()
        })
      }
    })
  </script>
</body>
</html>